<div class="center">
  <div class="container">
    <div class="columns is-centered">
      <div class="box column is-one-third">
        <h1 class="title has-text-centered">Password Generator</h1>

        <div class="field">
          <label>Enter Length</label>
          <input
            class="input"
            (input)="onChangeLength($event.target.value)"
            type="text"
          />
        </div>

        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input (change)="onChangeUseLetters()" type="checkbox" />
              Use Letters
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input (change)="onChangeUseNumbers()" type="checkbox" />
              Use Numbers
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input (change)="onChangeUseSymbols()" type="checkbox" />
              Use Symbols
            </label>
          </div>
        </div>

        <div>
          <button
            class="button is-link is-fullwidth"
            [disabled]="
              !(length && (includeLetters || includeNumbers || includeSymbols))
            "
            (click)="onButtonClick()"
          >
            Generate
          </button>
        </div>

        <div class="box" *ngIf="password">
          <label for="">Your Password</label>
          <input class="input" [value]="password" />
        </div>
      </div>
    </div>
  </div>
</div>
